@import "_elements";
@import "_variables";
@import "_reset";

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 6fr 1fr;
  background-color: black;
  gap: 1px;
}
header {
  height: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  div {
    background-color: white;
    padding-left: 10px;
  }
  .title {
    padding-left: 20px;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  .search {
    padding-left: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    span {
      padding-left: 10px;
    }
  }
  .loginBox {
    ul {
      display: flex;
      height: 100%;
      justify-content: flex-end;
      li {
        padding-right: 10px;
        display: flex;
        align-items: center;
      }
    }
  }
}
.banner {
  height: 30px;
  background-color: white;
  display: flex;
  align-items: center;

  font-size: 14px;
  font-weight: 200;
  // letter-spacing: 2px;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 70px;
  gap: 1px;
  .address {
    display: flex;
    align-items: center;
    background-color: white;
    font-size: 14px;
    font-weight: 200;
    padding-left: 20px;
  }
  .product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: 1fr;
    gap: 1px;

    .pic {
      width: 100%;
      height: 100%;
      background-image: url("https://images.unsplash.com/photo-1509695507497-903c140c43b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80");
      background-size: cover;
      background-position: center center;
    }
    .product-detail {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 30px 0.03fr 30px 0.06fr;
      gap: 1px;
      grid-template-areas:
        "price contact"
        "detail detail"
        "avail shipping"
        "detail2 detail2";
      font-size: 14px;
      font-weight: 300;
      div {
        background-color: white;
      }
      .price {
        grid-area: price;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 18px;
      }
      .contact {
        grid-area: contact;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        font-size: 16px;
        &:hover {
          background-color: yellowgreen;
        }
      }
      .detail {
        padding: 5px 10px;
        grid-area: detail;
        h2 {
          font-size: 16px;
          font-weight: 400;
        }
        p {
          font-size: 12px;
          padding-top: 5px;
          &:last-child {
            margin-bottom: 10px;
          }
        }
        .subtitle {
          margin: 20px 0;
          font-weight: 400;
        }
      }
      .avail {
        grid-area: avail;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
      }
      .shipping {
        grid-area: shipping;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
      }
      .detail2 {
        grid-area: detail2;
        padding: 10px 10px;
        h4 {
          margin: 20px 0;
          font-weight: 400;
        }
        p {
          font-weight: 400;
          margin: 20px 0;
        }
        ul {
          padding-left: 20px;
          li {
            list-style: disc;
            font-size: 12px;
            padding-top: 5px;
            font-weight: 400;
            &:last-child {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
  .back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    a {
      background-color: white;
      border: 1px solid black;
      border-radius: 20px;
      padding: 10px 40px;
      text-decoration: none;
      font-size: 12px;
      color: black;
      &:hover {
        cursor: pointer;
        background-color: #1e1e1e;
        color: white;
      }
    }
  }
}

footer {
  display: grid;
  grid-template-rows: 0.4fr 3.5fr;
  gap: 1px;
  // color: white;
  font-weight: 400;
  font-size: 12px;
  .head {
    height: 40px;
    width: 100%;
    background-color: #aaaaab;
  }
  .detail-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1px;
    div {
      background-color: #aaaaab;
      padding: 20px 20px;
      ul {
        li {
          margin: 10px 0;
          .emailbox {
            border: 1px solid black;
            padding: 10px 5px;
          }
        }
      }
    }
  }
}
